<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEC128SystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128JoystickUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128JoystickDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128JoystickLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128JoystickRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Fire</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128ButtonFire</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Jump</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128ButtonJump</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Swap Joysticks</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128SwapJoysticks</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>MAME Menu</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128MAMEMenu</string>
			</dict>
			<string>-</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128Extra1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128Extra2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128Extra3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128Extra4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128Extra5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEC128Extra6</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEC128JoystickUp</string>
				<string>OEC128JoystickDown</string>
			</array>
			<array>
				<string>OEC128JoystickLeft</string>
				<string>OEC128JoystickRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEC128JoystickUp</string>
				<string>OEC128JoystickRight</string>
				<string>OEC128JoystickDown</string>
				<string>OEC128JoystickLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>crt</string>
		<string>d64</string>
		<string>d71</string>
		<string>d81</string>
		<string>g64</string>
		<string>p00</string>
		<string>prg</string>
		<string>tap</string>
		<string>x64</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEC128JoystickUp</string>
		<string>OEC128JoystickDown</string>
		<string>OEC128JoystickLeft</string>
		<string>OEC128JoystickRight</string>
		<string>OEC128ButtonFire</string>
		<string>OEC128ButtonJump</string>
		<string>OEC128SwapJoysticks</string>
		<string>OEC128MAMEMenu</string>
		<string>OEC128Extra1</string>
		<string>OEC128Extra2</string>
		<string>OEC128Extra3</string>
		<string>OEC128Extra4</string>
		<string>OEC128Extra5</string>
		<string>OEC128Extra6</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEC128SystemResponder</string>
	<key>OESystemIcon</key>
	<string>c128_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.c128</string>
	<key>OESystemName</key>
	<string>Commodore 128</string>
	<key>OESystemType</key>
	<string>OESystemTypeComputer</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaCartridge</string>
		<string>OESystemMediaCassetteTape</string>
		<string>OESystemMediaFloppyDisk</string>
	</array>
</dict>
</plist>
