<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEApple2GSSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSJoystickUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSJoystickDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSJoystickLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSJoystickRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 0 (Open Apple)</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSButton0</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 1 (Solid Apple)</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Control-Reset</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSReset</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>MAME Menu</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSMAMEMenu</string>
			</dict>
			<string>-</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSExtra1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSExtra2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSExtra3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSExtra4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSExtra5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2GSExtra6</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAnalogControlsKey</key>
		<array>
			<string>OEApple2GSJoystickUp</string>
			<string>OEApple2GSJoystickDown</string>
			<string>OEApple2GSJoystickLeft</string>
			<string>OEApple2GSJoystickRight</string>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEApple2GSJoystickUp</string>
				<string>OEApple2GSJoystickDown</string>
			</array>
			<array>
				<string>OEApple2GSJoystickLeft</string>
				<string>OEApple2GSJoystickRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEApple2GSJoystickUp</string>
				<string>OEApple2GSJoystickRight</string>
				<string>OEApple2GSJoystickDown</string>
				<string>OEApple2GSJoystickLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>2mg</string>
		<string>dc</string>
		<string>dc42</string>
		<string>po</string>
		<string>woz</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEApple2GSJoystickUp</string>
		<string>OEApple2GSJoystickDown</string>
		<string>OEApple2GSJoystickLeft</string>
		<string>OEApple2GSJoystickRight</string>
		<string>OEApple2GSButton0</string>
		<string>OEApple2GSButton1</string>
		<string>OEApple2GSReset</string>
		<string>OEApple2GSMAMEMenu</string>
		<string>OEApple2GSExtra1</string>
		<string>OEApple2GSExtra2</string>
		<string>OEApple2GSExtra3</string>
		<string>OEApple2GSExtra4</string>
		<string>OEApple2GSExtra5</string>
		<string>OEApple2GSExtra6</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEApple2GSSystemResponder</string>
	<key>OESystemIcon</key>
	<string>apple2gs_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.apple2gs</string>
	<key>OESystemName</key>
	<string>Apple IIgs</string>
	<key>OESystemType</key>
	<string>OESystemTypeComputer</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaFloppyDisk</string>
	</array>
</dict>
</plist>
