<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>OEApple2SystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2JoystickUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2JoystickDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2JoystickLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2JoystickRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 0 (Open Apple)</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2Button0</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 1 (Solid Apple)</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2Button1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Control-Reset</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2Reset</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>MAME Menu</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2MAMEMenu</string>
			</dict>
			<string>-</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2Extra1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2Extra2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2Extra3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2Extra4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2Extra5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Extra 6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEApple2Extra6</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAnalogControlsKey</key>
		<array>
			<string>OEApple2JoystickUp</string>
			<string>OEApple2JoystickDown</string>
			<string>OEApple2JoystickLeft</string>
			<string>OEApple2JoystickRight</string>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEApple2JoystickUp</string>
				<string>OEApple2JoystickDown</string>
			</array>
			<array>
				<string>OEApple2JoystickLeft</string>
				<string>OEApple2JoystickRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEApple2JoystickUp</string>
				<string>OEApple2JoystickRight</string>
				<string>OEApple2JoystickDown</string>
				<string>OEApple2JoystickLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>do</string>
		<string>dsk</string>
		<string>nib</string>
		<string>po</string>
		<string>woz</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEApple2JoystickUp</string>
		<string>OEApple2JoystickDown</string>
		<string>OEApple2JoystickLeft</string>
		<string>OEApple2JoystickRight</string>
		<string>OEApple2Button0</string>
		<string>OEApple2Button1</string>
		<string>OEApple2Reset</string>
		<string>OEApple2MAMEMenu</string>
		<string>OEApple2Extra1</string>
		<string>OEApple2Extra2</string>
		<string>OEApple2Extra3</string>
		<string>OEApple2Extra4</string>
		<string>OEApple2Extra5</string>
		<string>OEApple2Extra6</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEApple2SystemResponder</string>
	<key>OESystemIcon</key>
	<string>apple2_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.apple2</string>
	<key>OESystemName</key>
	<string>Apple IIe</string>
	<key>OESystemType</key>
	<string>OESystemTypeComputer</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaFloppyDisk</string>
	</array>
</dict>
</plist>
