<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OEApple2JoystickDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OEApple2JoystickRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OEApple2Button0</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OEApple2Button1</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OEApple2JoystickDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OEApple2JoystickRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OEApple2Button0</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OEApple2Button1</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OEApple2Button0</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OEApple2Button1</key>
		<string>OEControllerLogitechDualActionButton1</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OEApple2Button0</key>
		<string>OEControllerSegaSaturnButtonC</string>
		<key>OEApple2Button1</key>
		<string>OEControllerSegaSaturnButtonZ</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OEApple2Button0</key>
		<string>OEControllerGravisGamePadProButton2</string>
		<key>OEApple2Button1</key>
		<string>OEControllerGravisGamePadProButton1</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OEApple2Button0</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
		<key>OEApple2Button1</key>
		<string>OEControllerRetroUSBSNESButtonY</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OEApple2Button0</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OEApple2Button1</key>
		<string>OEControllerPS3NeoGeoPadButtonSquare</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OEApple2Button0</key>
		<string>OEControllerRetrodeButtonB</string>
		<key>OEApple2Button1</key>
		<string>OEControllerRetrodeButtonY</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OEApple2Button0</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
		<key>OEApple2Button1</key>
		<string>OEControllerRetrolinkSNESButtonY</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OEApple2Button0</key>
		<string>OEControllerRetrolinkN64ButtonA</string>
		<key>OEApple2Button1</key>
		<string>OEControllerRetrolinkN64ButtonB</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OEApple2JoystickDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OEApple2JoystickRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OEApple2Button0</key>
		<string>OEControllerAdaptoidN64ButtonA</string>
		<key>OEApple2Button1</key>
		<string>OEControllerAdaptoidN64ButtonB</string>
	</dict>
	<key>OEControllerWiimote</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerWiimoteDPadRight</string>
		<key>OEApple2JoystickDown</key>
		<string>OEControllerWiimoteDPadLeft</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerWiimoteDPadUp</string>
		<key>OEApple2JoystickRight</key>
		<string>OEControllerWiimoteDPadDown</string>
		<key>OEApple2Button0</key>
		<string>OEControllerWiimoteButton2</string>
		<key>OEApple2Button1</key>
		<string>OEControllerWiimoteButton1</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OEApple2JoystickDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OEApple2JoystickRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OEApple2Button0</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
		<key>OEApple2Button1</key>
		<string>OEControllerNintendoWiiUProControllerButtonY</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OEApple2Button0</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OEApple2Button1</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
	</dict>
	<key>OEControllerGCExtendedGamepadProfile</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerGCExtendedGamepadProfileDPadUp</string>
		<key>OEApple2JoystickDown</key>
		<string>OEControllerGCExtendedGamepadProfileDPadDown</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerGCExtendedGamepadProfileDPadLeft</string>
		<key>OEApple2JoystickRight</key>
		<string>OEControllerGCExtendedGamepadProfileDPadRight</string>
		<key>OEApple2Button0</key>
		<string>OEControllerGCExtendedGamepadProfileButtonA</string>
		<key>OEApple2Button1</key>
		<string>OEControllerGCExtendedGamepadProfileButtonX</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerNintendoSwitchProControllerDPadUp</string>
		<key>OEApple2Button0</key>
		<string>OEControllerNintendoSwitchProControllerButtonB</string>
		<key>OEApple2Button1</key>
		<string>OEControllerNintendoSwitchProControllerButtonY</string>
	</dict>
	<key>OEControllerMicrosoftXboxOne</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerMicrosoftXboxOneDPadUp</string>
		<key>OEApple2Button0</key>
		<string>OEControllerMicrosoftXboxOneButtonA</string>
		<key>OEApple2Button1</key>
		<string>OEControllerMicrosoftXboxOneButtonX</string>
	</dict>
	<key>OEControllerRetroBitSegaBluetooth8ButtonArcadePad</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadDPadUp</string>
		<key>OEApple2Button0</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonC</string>
		<key>OEApple2Button1</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonZ</string>
	</dict>
	<key>OEControllerSonyPS5DualSense</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerSonyPS5DualSenseDPadUp</string>
		<key>OEApple2JoystickDown</key>
		<string>OEControllerSonyPS5DualSenseDPadDown</string>
		<key>OEApple2JoystickLeft</key>
		<string>OEControllerSonyPS5DualSenseDPadLeft</string>
		<key>OEApple2JoystickRight</key>
		<string>OEControllerSonyPS5DualSenseDPadRight</string>
		<key>OEApple2Button0</key>
		<string>OEControllerSonyPS5DualSenseButtonCross</string>
		<key>OEApple2Button1</key>
		<string>OEControllerSonyPS5DualSenseButtonSquare</string>
	</dict>
	<key>OEControllerMicrosoftXboxOneSBLE</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerMicrosoftXboxOneSBLEDPadUp</string>
		<key>OEApple2Button0</key>
		<string>OEControllerMicrosoftXboxOneSBLEButtonA</string>
		<key>OEApple2Button1</key>
		<string>OEControllerMicrosoftXboxOneSBLEButtonX</string>
	</dict>
	<key>OEControllerMicrosoftXboxSeriesXS</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>OEControllerMicrosoftXboxSeriesXSDPadUp</string>
		<key>OEApple2Button0</key>
		<string>OEControllerMicrosoftXboxSeriesXSButtonA</string>
		<key>OEApple2Button1</key>
		<string>OEControllerMicrosoftXboxSeriesXSButtonX</string>
	</dict>
</dict>
</plist>
