<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_computer</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_computer_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEApple2JoystickUp</key>
		<string>{0, 0}</string>
		<key>OEApple2JoystickDown</key>
		<string>{0, 0}</string>
		<key>OEApple2JoystickLeft</key>
		<string>{0, 0}</string>
		<key>OEApple2JoystickRight</key>
		<string>{0, 0}</string>
		<key>OEApple2Button0</key>
		<string>{0, 0}</string>
		<key>OEApple2Button1</key>
		<string>{0, 0}</string>
		<key>OEApple2Reset</key>
		<string>{0, 0}</string>
		<key>OEApple2MAMEMenu</key>
		<string>{0, 0}</string>
		<key>OEApple2Extra1</key>
		<string>{0, 0}</string>
		<key>OEApple2Extra2</key>
		<string>{0, 0}</string>
		<key>OEApple2Extra3</key>
		<string>{0, 0}</string>
		<key>OEApple2Extra4</key>
		<string>{0, 0}</string>
		<key>OEApple2Extra5</key>
		<string>{0, 0}</string>
		<key>OEApple2Extra6</key>
		<string>{0, 0}</string>
	</dict>
</dict>
</plist>
