<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerAdaptoidN64ButtonA</string>
	</dict>
	<key>OEControllerGCExtendedGamepadProfile</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerGCExtendedGamepadProfileButtonA</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerGravisGamePadProButton2</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerLogitechDualActionButton2</string>
	</dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
	</dict>
	<key>OEControllerMicrosoftXboxOne</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerMicrosoftXboxOneButtonA</string>
	</dict>
	<key>OEControllerMicrosoftXboxOneSBLE</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerMicrosoftXboxOneSBLEButtonA</string>
	</dict>
	<key>OEControllerMicrosoftXboxSeriesXS</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerMicrosoftXboxSeriesXSButtonA</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerNintendoSwitchProControllerButtonB</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
	</dict>
	<key>OEControllerRetroBitSegaBluetooth8ButtonArcadePad</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerRetroBitSegaBluetooth8ButtonArcadePadButtonC</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerRetrodeButtonB</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerRetrolinkN64ButtonA</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerSegaSaturnButtonC</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
	</dict>
	<key>OEControllerSonyPS5DualSense</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerSonyPS5DualSenseButtonCross</string>
	</dict>
	<key>OEControllerWiimote</key>
	<dict>
		<key>OEMacMouseButton</key>
		<string>OEControllerWiimoteButton2</string>
	</dict>
</dict>
</plist>
